name: test-coverage

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'
          http-user-agent: 'release'
          use-public-rspm: true

      # Conditional step for Ubuntu systems
      - name: Install dependencies on Ubuntu
        run: sudo apt-get -y install libsbml-dev

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr
          needs: coverage
      
      - name: Compute coverage
        run: |
          cov <- covr::package_coverage()
          covr::to_cobertura(cov, "coverage.xml")
        shell: Rscript {0}
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-xml
          path: coverage.xml
